body {
    font-family: Arial, sans-serif;
    background: #fdfff5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-transform: uppercase;
}
.login-container {
    max-width: 300px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
input, button {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background: #ff416c;
    color: white;
    border: none;
    cursor: pointer;
}
@media (max-width: 400px) {
    .login-container {
        width: 90%;
        padding: 15px;
    }
}